
p.head {
    float: right;
    color: #999;
    font-weight: 400;
    font-size: 1em;
    display: inline;
    text-align: right;
    margin-top: 18px;

}

.page-header h1 {
    display: inline-block;
}

h3.kind-title {
    text-align: center;
}

h3.time-est {
    text-align: center;
}

.sidenav > li.active > a {
    border-left: 2px solid #563d7c;
}

ul.affix-top {
    position: static;
    margin-top: 47px;
}
ul.affix-bottom {
    position: absolute;
}



/* First level of nav */
.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}



.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
}

h2 {
    text-transform: capitalize;
    font-size: 2.5em;
    color: #333;
}

/* summary d3 attrs */
div.sum-entry h2.kind{
    text-align: center;
    font-size: 2.5em;
}

div.sum-entry b {
    display: block;
    text-align:center;
    font-size: 2em;
}

div.sum-entry h3.kind:hover,
div.sum-entry h3.kind:focus,
{
    color: #333;
}

div.sum-entry svg
{
    display: block;
    margin: auto;
}

div.sum-entry svg text {
    text-anchor: middle;
    font-weight: bold;
    dominant-baseline: central;
}

/* d3 styles */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.arc path {
    stroke: #fff;
}

div.detail {
   padding-top: 5px;
}

.section-header {
   border-bottom: 1px solid #E3E3E3;
   padding-bottom: 10px;
}

.pie-chart {
    display: flex;
}

.pie-chart table td, tr {
    padding: 5px;
} 

.pie-chart table td:nth-child(2) {
    text-align: left;
}

.pie-chart table td:nth-child(3),
.pie-chart table td:nth-child(4) {
    text-align: right;
}

.pie-chart table tr:last-child {
    padding-top: 4px;
    border-top: solid 1px black;
}
